:root {
  --roboto: "Roboto", sans-serif;
  --light: 300;
  --medium: 500;
  --c-light: #f8f9fa;
  --c-white: #ffff;
  --c-green: #28a745;
  --c-grey: #707070;
  --c-dark: #212529;
}

.os-light {
  font-family: var(--roboto);
  font-weight: var(--light);
}

.os-medium {
  font-family: var(--roboto);
  font-weight: var(--medium);
}

.c-green {
  color: var(--c-green);
}

.c-dark {
  color: var(--c-dark);
}

.c-grey {
  color: var(--c-grey);
}

.adress {
  font-size: 13px;
}

.navbar {
  padding: 0rem;
}

.navbar-toggler-icon {
  color: white;
}

.fondo-verde {
  background-color: #28a745;
  height: 62px;
}

.navbar-toggler {
  width: 59px;
  height: 42px;
  border-color: white;
  margin-right: 22px;
}

.navbar-brand {
  margin-left: 20px;
}

.offcanvas-body {
  background-color: #28a745;
}

.btn-buscar {
  background-color: white;
}

footer {
  color: var(--c-grey);
}

footer img {
  width: 82px;
  height: 24px;
}
